.movie-detail {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: auto;
  width: 50vw;
  background-color: rgba(51, 55, 73, 0.678);
  border-radius: 5px;
}

.box-image-detail {
  margin: 15px;
}

.box-title-detail{
text-align: left;
padding: 0 10px;
}

.link-to-home {
  color: white;
  font-size: 15px;
  margin-top: 20px;
}